.DS_Store
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

language: java
sudo: false
jobs:
 include:
  - stage:Tests
    script: echo "`date` Unit Tests1" && sleepl
    name: "Integration Tests"
  - stage: build
    name: "Mvn build"
    script: mvn package
deploy:
 provider:release
 api_key: "$API_KEY"
 file: "target/my-app-1.0-SMAPSNOT.jar"
 skip_cleanup: true
 on:
  tag:true

